@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

 <table class="tabstyle"><tr><td style="padding:25px">
<div class="desc">
<p>Thank you for using Syncfusion ASP.NET MVC Wizard. We have modified the default ASP.NET MVC internet application project template based on Syncfusion controls and settings. 
The following are the samples links:
</p>
</div>
<div class="sf-samples">
	<ul class="ulstyle">
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Grid","GridFeatures","Grid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeGrid","TreeGridFeatures","TreeGrid",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Chart","ChartFeatures","Chart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Gantt","GanttFeatures","Gantt",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Schedule","ScheduleFeatures","Schedule",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Diagram","DiagramFeatures","Diagram",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Maps","MapsFeatures","Maps",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SparkLine","SparkLineFeatures","SparkLine",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SunburstChart","SunburstChartFeatures","SunburstChart",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("HeatMap","HeatMapFeatures","HeatMap",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeMap","TreeMapFeatures","TreeMap",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RadialGauge","RadialGaugeFeatures","RadialGauge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("LinearGauge","LinearGaugeFeatures","LinearGauge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DigitalGauge","DigitalGaugeFeatures","DigitalGauge",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("BulletGraph","BulletGraphFeatures","BulletGraph",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RangeNavigator","RangeNavigatorFeatures","RangeNavigator",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Barcode","BarcodeFeatures","Barcode",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TagCloud","TagCloudFeatures","TagCloud",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Kanban","KanbanFeatures","Kanban",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Splitter","SplitterFeatures","Splitter",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Tooltip","TooltipFeatures","Tooltip",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Dialog","DialogFeatures","Dialog",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ListView","ListViewFeatures","ListView",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TileView","TileViewFeatures","TileView",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("SpellCheck","SpellCheckFeatures","SpellCheck",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Signature","SignatureFeatures","Signature",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RichTextEditor","RichTextEditorFeatures","RichTextEditor",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ColorPicker","ColorPickerFeatures","ColorPicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DatePicker","DatePickerFeatures","DatePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TimePicker","TimePickerFeatures","TimePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DateTimePicker","DateTimePickerFeatures","DateTimePicker",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TextBoxes","TextBoxesFeatures","TextBoxes",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Autocomplete","AutocompleteFeatures","Autocomplete",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Rating","RatingFeatures","Rating",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Dropdownlist","DropdownlistFeatures","Dropdownlist",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Slider","SliderFeatures","Slider",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Button","ButtonFeatures","Button",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("FileUpload","FileUploadFeatures","FileUpload",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Captcha","CaptchaFeatures","Captcha",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Ribbon","RibbonFeatures","Ribbon",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("FileExplorer","FileExplorerFeatures","FileExplorer",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("TreeView","TreeViewFeatures","TreeView",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Rotator","RotatorFeatures","Rotator",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Tab","TabFeatures","Tab",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RadialMenu","RadialMenuFeatures","RadialMenu",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("RadialSlider","RadialSliderFeatures","RadialSlider",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("NavigationDrawer","NavigationDrawerFeatures","NavigationDrawer",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Spreadsheet","SpreadsheetFeatures","Spreadsheet",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Menu","MenuFeatures","Menu",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Accordion","AccordionFeatures","Accordion",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ListBox","ListBoxFeatures","ListBox",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Toolbar","ToolbarFeatures","Toolbar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Scroller","ScrollerFeatures","Scroller",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ProgressBar","ProgressBarFeatures","ProgressBar",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("WaitingPopup","WaitingPopupFeatures","WaitingPopup",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Presentation","PresentationFeatures","Presentation",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("XlsIO","XlsIOFeatures","XlsIO",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("Pdf","PdfFeatures","Pdf",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("DocIO","DocIOFeatures","DocIO",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("PdfViewer","PdfViewerFeatures","PdfViewer",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	<li class="list">
	<div class="column">
 	@Html.ActionLink("ReportViewer","ReportViewerFeatures","ReportViewer",null, new { Style = "text-decoration:none;color:#616161;"})
	</div>
	</li>
	 	</ul>
	</div>
			</td>
		</tr>
	</table>
<div class="clear"> </div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>